/* Reset dasar CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0e8333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}